<% include ../profiles/header.ejs %>
    <link href="/CSS/index.css" rel="stylesheet">
    <title>Incripciones</title>
  </head>
  <body>
     <header>
      <nav class="container_nav">
        <ul class="topnav border" id="menu">
          <li style="float: left;"><img src="/IMG/robot.png" class="robo-nav" /></li>
          <li style="float: left;"><a id="logo-nav" href="/" style="padding-right: 2px">jointDeveloper</a></li>
          <li><a href="/contacto" class="group"><span>Contacto</span></a></li>
          <li><a href="/blog" class="group"><span>Blog</span></a></li>
          <!--<li><a href="/apoyanos" class="group"><span>Apóyanos</span></a></li>-->
          <li><a href="/eventos" class="group"><span>Eventos</span></a></li>
          <li><a href="/perfiles" class="group"><span>Perfiles</span></a></li>
          <li><a href="/portafolio" class="group"><span>Portafolio</span></a></li>
          <li><a href="/comunidad" class="group"><span>Comunidad</span></a></li>
        </ul>
      </nav>
    </header>
    <div class="row intro-index" style="padding-top: 50px;">
      <img src="../IMG/navlogo.png" alt="" />
    </div>
		<main id="inicio" style="padding: 0;">
      <div id="contacto1" class="row">
        <div class="card-title">
          <h3 class="center">Contacto</h3>
        </div>
      </div>
      <div class="container">
        <div class="card" style="background: #444; min-height: auto;">
          <div class="row">
            <form action="/eventos/nodeschoolGirls" method="post">
              <div class="row">
                <div class="col-6">
                  <input type="text" name="nameH" value="" required placeholder="Nombre Completo"><br>
                </div>
                <div class="col-6">
                  <input type="email" name="email1" value="" required placeholder="Correo Electrónico"><br>
                </div>
              </div>
              Sexo:<br>
              <select name="gender" required>
                <option value="female">Femenino</option>
                <option value="male">Masculino</option>
              </select><br>
              <div id="opt"></div>
              <div class="center">
                <input class="btn" type="submit" name="send" value="ENVIAR">
              </div>
            </form>
          </div>

        </div>
      </div>
		</main>
    <div class="footer">
      <div class="row">
        <div class="col-2 center">
          <a href="//sirius.utp.edu.co" target="_blank"><img src="/IMG/icons/sirius.png" style="width: 80px" alt="" /></a>
        </div>
        <div class="col-8">
          <div class="row center">
              <a href="//github.com/joindeveloper" target="_blank"><i class="fa fa-github-square icon-title fa-3x" aria-hidden="true"></i></a>
              <a href="mailto:developerjoint@gmail.com" target="_blank"><i class="fa fa-envelope-square icon-title fa-3x" aria-hidden="true"></i></a>
              <a href="//youtube.com/channel/UC1hMrYBNsvKnufvG8t6q7ZQ" target="_blank"><i class="fa fa-youtube-square icon-title fa-3x" aria-hidden="true"></i></a>
              <a href="//plus.google.com/u/1/113539795181089700851" target="_blank"><i class="fa fa-google-plus-square icon-title fa-3x" aria-hidden="true"></i></a>
              <a href="//instagram.com/jointDeveloper/" target="_blank"><i class="fa fa-instagram icon-title fa-3x" aria-hidden="true"></i></a>
              <a href="//snapchat.com/add/jointDev" target="_blank"><i class="fa fa-snapchat-square icon-title fa-3x" aria-hidden="true"></i></a>
              <a href="//facebook.com/jointDeveloper/" target="_blank"><i class="fa fa-facebook-square icon-title fa-3x" aria-hidden="true"></i></a>
              <div class="fb-like" data-href="https://www.facebook.com/jointDeveloper/" data-width="80px" data-layout="box_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
              <a href="//twitter.com/jointdev" target="_blank"><i class="fa fa-twitter-square icon-title fa-3x" aria-hidden="true"></i></a>
              <a class="twitter-follow-button"
                href="https://twitter.com/jointDev"
                data-size="large">
              Follow</a>
          </div>
        </div>
        <div class="col-2 center">
          <a href="//utp.edu.co" target="_blank"><img src="/IMG/icons/utp.png" style="width: 100px" alt="" /></a>
        </div>
      </div>
    </div>
    <script src="/JS/jquery.min.js"></script>
    <script src="/JS/twitter.js"></script>
    <script src="/JS/facebook.js"></script>
    <script src="/JS/color.js"></script>
    <script src="/JS/googleA.js"></script>
    <script src="/JS/card.js"></script>
    <script src="/JS/hoover.js"></script>
    <script src="/JS/scroll.js"></script>
    <script src="/JS/inicio.js"></script>
    <script src="/JS/nodeschoolGirls.js"></script>
  </body>
</html>
