    <footer>
      <section id="contact" class="container content-section text-center">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Contacto</h1>
          <!-- <div class="col-lg-6 col-sm-12" style="text-align: left;">
            <p class="oswald">Enlaces de Interés</p>
            <ul>
              <li><a href="#">Universidad Tecnológica de Pereira</a></li>
              <li><a href="#">Grupo de Investigación Sirius</a></li>
            </ul>
          </div> -->
          <!-- <div class="col-lg-6 col-sm-12"> -->
          <div class="col-lg-12 col-sm-12">
            <form class="" action="/contact" method="post">
              <input type="text" name="name" placeholder="NOMBRE" value="" autocomplete="off" />
              <input type="text" name="email" placeholder="EMAIL" value="" autocomplete="off" />
              <textarea name="text" rows="4" placeholder="MENSAJE"></textarea>
              <input type="submit" class="btn" name="" value="ENVIAR" style="width: inherit">
            </form>
          </div>
        </div>
      </section>
      <div class="follow">
        <section class="container content-section">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="col-lg-2 col-xs-12 oswald">
              SÍGUENOS
            </div>
            <div class="col-lg-10 col-xs-12">
              <a href="http://facebook.com/jointDeveloper" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="http://twitter.com/jointdev" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
              <a href="http://instagram.com/jointdeveloper" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="http://snapchat.com/add/jointDev" target="_blank"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
              <a href="http://github.com/jointDeveloper" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-slack" aria-hidden="true"></i></a>
            </div>
          </div>
        </section>
      </div>
    </footer>
    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- iziModal Version 1.4.2 -->
    <script src="js/iziModal.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>
    <script src="js/height.js"></script>
    <script src="js/notifications.js"></script> 
  </body>
</html>
