    <footer>
      <section id="contact" class="container content-section text-center">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Contacto</h1>
          <div class="col-lg-6 col-sm-12" style="text-align: left;">
            <p class="oswald">Enlaces de Interés</p>
          </div>
          <div class="col-lg-6 col-sm-12">
            <form class="" action="index.html" method="post">
              <input type="text" name="name" placeholder="NOMBRE" value="" />
              <input type="text" name="email" placeholder="EMAIL" value="" />
              <textarea name="text" rows="4" placeholder="MENSAJE"></textarea>
              <input type="submit" class="btn" name="" value="ENVIAR">
            </form>
          </div>
        </div>
      </section>
      <div class="follow">
        <section class="container content-section">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="col-lg-2 col-xs-12 oswald">
              SÍGUENOS
            </div>
            <div class="col-lg-10 col-xs-12">
              <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-slack" aria-hidden="true"></i></a>
            </div>
          </div>
        </section>
      </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA58q2BYIJqsv8FOT5Rhh_3pXWnrPgmoZs"></script>-->
    <%# <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key= AIzaSyAwKTx32i9LUE1KGf3TY5cQ7DQuGfRGgeM "></script>%>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>
    <script src="js/height.js"></script>
  </body>
</html>
