<header>
  <div class="menu_nav">
    <a href="#" class="bt-menu"><span class="icon-list2"></span></a>
  </div>
  <nav class="container_nav">
    <ul class="topnav border" id="menu">
      <li><img src="../../IMG/robot.png" class="robo-nav" /></li>
      <li><a id="logo-nav" href="../../index.html" style="padding-right: 2px">jointDeveloper</a></li>
      <li><a href="#inicio" id="nav-inicio" class="group active"><span>Inicio</span></a></li>
      <li><a href="#info" id="nav-info" class="group"><span>Info</span></a></li>
      <li><a href="#aptitudes" id="nav-aptitudes" class="group"><span>Aptitudes</span></a></li>
      <li><a href="#educacion" id="nav-educacion" class="group"><span>Educación</span></a></li>
      <li><a href="#cursos" id="nav-cursos" class="group"><span>Cursos</span></a></li>
      <li><a href="#proyectosport" id="nav-proyectosport" class="group"><span>Proyectos - Portafolio</span></a></li>
      <li><a href="#pasatiempos" id="nav-pasatiempos" class="group"><span>Pasatiempos</span></a></li>
      <li><a href="#articulos" id="nav-articulos" class="group"><span>Articulos</span></a></li>
      <li><a href="#contacto" id="nav-contacto" class="group"><span>Contacto</span></a></li>
    </ul>
  </nav>
</header>
