
.floating-sn-icons{
  float: left;
  top: 40%;
  padding-left: 25px;
  position: fixed;
}

.fb-icon {
  color: #3b5998;
}

.fb-icon:hover {
  color: #7692ce;
}

.tw-icon {
  color: #32cdfd;
}

.tw-icon:hover {
  color: #82cbe2;
}

.inst-icon {
  color: #25638a;
}

.inst-icon:hover {
  color: #529bca;
}

.goopl-icon {
  color: #dc4a38;
}

.goopl-icon:hover {
  color: #d25e50;
}

@media (max-width: 823px) {
  .floating-sn-icons {
    display: none;
  }
}

.floating-reg-icons {
  float: right;
  top: 80%;
  position: fixed;
  margin-left: 95%;
}

.sn-register {
  padding-right: 30px;
}

.register {
  color:#3c3638;
}

.register:hover {
  color: #5f5b5c;
}

@media (min-width: 768px){
  .sn-register {
    position: absolute;
    display: none;
  }

  .floating-reg-icons:hover .sn-register {
    display: block;
  }
}
