
.floating-sn-icons {
  float: left;
  top: 25%;
  padding-left: 25px;
  position: fixed;
}

.floating-sn-icons a { color: #bfbfbf; }
.floating-sn-icons a:hover { color: #6C7A89; }

@media (max-width: 823px) {
  .floating-sn-icons {
    display: none;
  }
}

.floating-reg-icons {
  float: right;
  top: 80%;
  position: fixed;
  margin-left: 95%;
}

.sn-register {
  padding-right: 30px;
}

.register {
  color:#3c3638;
}

.register:hover {
  color: #5f5b5c;
}

@media (min-width: 768px){
  .sn-register {
    position: absolute;
    display: none;
  }

  .floating-reg-icons:hover .sn-register {
    display: block;
  }
}
